<%- include("header.ejs") -%>
    <link rel="stylesheet" href="css/MainCssFiles.css">
    <!-- <link rel="stylesheet" href="../CSS files/ProductPage.css"> -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="css/addProductSeller.css">
    <!-- <link rel="stylesheet" href="../CSS files/HomePage.css">  -->
    <!-- <link rel="stylesheet" href="../CSS files/Searching.css"> -->
    </head>

    <body id="body-pd">
        <!-- Side bar -->
        <%- include("navigation_bar.ejs") -%>

            <!-- Side Bar -->

            <!--Container Main start-->
            <div class="nav-header ">
                <!--- Navbar --->
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid nav-center ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                            aria-controls="nvbCollapse">
                            <i class="bi bi-list"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center" id="nvbCollapse">
                            <ul class="navbar-nav ">
                                <a class="nav-link ml-4" href="/main"></i>Home</a>
                                <a class="nav-link ml-4" href="/main"></i>Trend</a>
                                <a class="nav-link ml-4" href="/main"></i>Best Price</a>
                                <a class="nav-link ml-4" href="/main"></i>Offers</a>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--# Navbar #-->
            </div>
            <!--Container Main end-->
            <!-- The Body of the page  -->
            <div class="container mt-3">
                <div class="py-5">
                    <div class="col col-lg-8 border py-5 ">
                        <p class="h3 text-muted">Add Product</p>
                        <p>Start selling your your products on website</p>
                        <form action="/addProduct" method="post" enctype="multipart/form-data">
                            <div class="row g-3">
                                <div class="">
                                    <p class="h5 ml-4">Drag and drop a file or select add Image</p>
                                    <div class="upload row ml-3">
                                        <div class="file-upload col-5 col-md">
                                            <div class="image-upload-wrap">
                                                <input class="file-upload-input" type='file' name="image" onchange="readURL(this);" />
                                                <div class="text-center py-3"><i
                                                        class="bi bi-cloud-arrow-up uploadicon"></i>
                                                    <p class="h5">Upload image</p>
                                                </div>
                                            </div>
                                            <div class="file-upload-content">
                                                <img class="file-upload-image" src="#"/>
                                                <div class="image-title-wrap">
                                                    <span class="image-title">Uploaded Image</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 py-2">
                                    <label for="firstName" name="fname" required class="form-label">Product Name</label>
                                    <input type="text" class="form-control border" id="firstName" name="name" required
                                        autocomplete="off">
                                </div>
                                <div class="col-12 py-2">
                                    <label for="price" class="form-label">Price <span class="text-muted"></span></label>
                                    <input type="Number" class="form-control border" id="email" placeholder="EG 0.00"
                                        name="price" required>
                                </div>
                                <div class="row col-12 py-2">
                                    <div class="col-md-5">
                                        <label for="country" class="form-label">Main Category</label>
                                        <select class="form-select border"id="select1" name="catigory1" oninput="myFunction()" required>
                                            <option value="">Choose...</option>
                                            <option value="Phones">Phones</option>
                                            <option value="Books">Books</option>
                                            <option value="Clothes">Clothes</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="state" class="form-label">Derived ategory</label>
                                        <select class="form-select border" id="select2"name="catigory2" required >
                                            <option id="choice" value="">Choose...</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-12 py-2">
                                    <label for="text" class="form-label">Add a brief description <span
                                            class="text-muted"></span></label>
                                    <textarea type="text" class="form-control border" name="s_description" id="desc"
                                        placeholder="brief description" required></textarea>
                                </div>
                                <div class="col-12 py-2">
                                    <label for="text" class="form-label">Add full descripion <span class="text-muted"></span></label>
                                    <textarea type="text" name="l_description" class="form-control border" cols="30" rows="7" id="fulldescription" placeholder="add full description" required></textarea>
                                </div>
                                
                                <div class="my-2">
                                    <p class="h4 ml-4">Share this Product</p>
                                    <div class="socialIconShare ml-2">
                                        <a href="www.facebook.com" class="sharlink"><i
                                                class="bi bi-facebook pl-3"></i></a>
                                        <a href="www.facebook.com" class="sharlink"><i
                                                class="bi bi-youtube pl-3"></i></a>
                                        <a href="www.facebook.com" class="sharlink"><i
                                                class="bi bi-twitter pl-3"></i></a>
                                        <a href="www.facebook.com" class="sharlink"><i
                                                class="bi bi-instagram pl-3"></i></a>
                                        <a href="www.facebook.com" class="sharlink"><i
                                                class="bi bi-telegram pl-3"></i></a>
                                    </div>
                                </div>
                            </div>
                            <button class="w-100 btn btn-success btn-lg mt-4" type="submit">Share Your Product</button>
                        </form>
                    </div>
                </div>
            </div>

            
            <%- include("footer.ejs") -%>
                <script type='text/Javascript' src="searching.js"></script>
    </body>

    </html>