<!-- Side bar -->
<header class="header">
    <div class="sidenav shadow p-3 mb-5 bg-body rounded " id="sidebartoggle">
        <a href="javascript:void(0)" class="closebtn" id="btnclose" onclick="closeNav()">&times;</a>
        <a class="navbar-brand ms-auto" href="/main"> Mingo</a>
        <hr>
        <h4 class="mb-5">Catogeries</h4>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center  " data-toggle="collapse"
                    data-target="#se-collapse" aria-expanded="false">Smart Phones</button>
                <div class="collapse" id="se-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <form action="/catigory" method="post" id="catigory1">
                            <li><a href="#" onclick="$('#catigory1').submit()" class="link-dark rounded">Apple</a></li>
                            <input type="hidden" name="catigory1" value="Phones"></input>
                            <input type="hidden" name="catigory2" value="Apple"></input>
                        </form>
                        <form action="/catigory" method="post" id="catigory2">
                            <li><a href="#" onclick="$('#catigory2').submit()" class="link-dark rounded">Huawei</a></li>
                            <input type="hidden" name="catigory1" value="Phones"></input>
                            <input type="hidden" name="catigory2" value="Huawei"></input>
                        </form>
                        <form action="/catigory" method="post" id="catigory3">
                            <li><a href="#" onclick="$('#catigory3').submit()" class="link-dark rounded">Samsung</a></li>
                            <input type="hidden" name="catigory1" value="Phones"></input>
                            <input type="hidden" name="catigory2" value="Samsung"></input>
                        </form>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
        </ul>
        <hr class="imghr">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded " data-toggle="collapse"
                    data-target="#kidsFasion" aria-expanded="false">Clothes</button>
                <div class="collapse" id="kidsFasion">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <form action="/catigory" method="post" id="catigory4">
                            <li><a href="#" onclick="$('#catigory4').submit()" class="link-dark rounded">Men</a></li>
                            <input type="hidden" name="catigory1" value="Clothes"></input>
                            <input type="hidden" name="catigory2" value="Men"></input>
                        </form>
                        <form action="/catigory" method="post" id="catigory5">
                            <li><a href="#" onclick="$('#catigory5').submit()" class="link-dark rounded">Women</a></li>
                            <input type="hidden" name="catigory1" value="Clothes"></input>
                            <input type="hidden" name="catigory2" value="Women"></input>
                        </form>
                        <form action="/catigory" method="post" id="catigory6">
                            <li><a href="#" onclick="$('#catigory6').submit()" class="link-dark rounded">Kids</a></li>
                            <input type="hidden" name="catigory1" value="Clothes"></input>
                            <input type="hidden" name="catigory2" value="Kids"></input>
                        </form>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
        </ul>
        <hr class="imghr">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse"
                    data-target="#books" aria-expanded="false">Books</button>
                <div class="collapse " id="books">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <h5>General</h5>
                        <form action="/catigory" method="post" id="catigory7">
                            <li><a href="#" onclick="$('#catigory7').submit()" class="link-dark rounded">Historical Books</a></li>
                            <input type="hidden" name="catigory1" value="Books"></input>
                            <input type="hidden" name="catigory2" value="Historical"></input>
                        </form>
                        <form action="/catigory" method="post" id="catigory8">
                            <li><a href="#" onclick="$('#catigory8').submit()" class="link-dark rounded">Novels</a></li>
                            <input type="hidden" name="catigory1" value="Books"></input>
                            <input type="hidden" name="catigory2" value="Novels"></input>
                        </form>
                        <form action="/catigory" method="post" id="catigory9">
                            <li><a href="#" onclick="$('#catigory9').submit()" class="link-dark rounded">Fiction Books</a></li>
                            <input type="hidden" name="catigory1" value="Books"></input>
                            <input type="hidden" name="catigory2" value="Fiction"></input>
                        </form>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
        </ul>
    </div>

    <button class="navbar-toggler" onclick="togglebar()" type="button">
        <i class="bi bi-list"></i>
    </button>



    <!-- top navbar -->
    <!-- Search input  -->
    <div class=" containersearch">
        <div class="input-group mb-3 px-5 mt-4">
            <input type="text" class="form-control searchinput" placeholder="Searching..">
            <button class="btn btn-success col-2 searchbtn" type="submit"><i class="bi bi-search"></i></button>
        </div>
    </div>

    <!-- dropdown menu  -->
    <div class="row mr-2 " >
        <a href="/cart" class="btn col-6"><i class="bi bi-cart-plus"></i></a>
        <div class="cart col-6">
            <!-- Cart Button -->
            <button class="header_img dropdown-toggle d-inline-block" data-toggle="dropdown" aria-expanded="false"
                id="dropdownMenuLink">
                <% if(user.img.contentType==''){ %>
                    <img src="images/user_icon.png">
                <% }else { %>
                    <img src="data:image/<%= user.img.contentType %>;base64,<%= user.img.data.toString('base64') %>">
                <% } %>
            </button>
            <ul class="dropdown-menu col-md-5 col-lg-2 text-right" aria-labelledby="dropdownMenuLink">
                <button class="btn btn-success dropdown-item signinbtn"
                    onclick="window.location.href='/main'">Home Page</button>
                <li><a class="dropdown-item h5" href="/profile">Your Profile</a></li>
                <li><a class="dropdown-item h5" href="/addProduct">Add Product</a></li>
                <li><a class="dropdown-item h5" href="/cart">View cart</a></li>
                <li><a class="dropdown-item h5" href="/signOut">Sign Out</a></li>
                <!-- <div class="mt-5 dropdown-item darkmode">
                    <div id="switch">
                        <div id="circle"></div>
                    </div>
                    <span>Dark Mode</span>
                </div> -->
            </ul>
        </div>
    </div>
</header>
