<%- include("header.ejs") -%>
    <link rel="stylesheet" href="css/MainCssFiles.css">
    <link rel="stylesheet" href="css/ProductPage.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="css/personalProfile.css">
    <!-- <link rel="stylesheet" href="../CSS files/HomePage.css">    -->
    <!-- <link rel="stylesheet" href="../CSS files/Searching.css"> -->
</head>

<body id="body-pd">
    <!-- Side bar -->
    <%- include("navigation_bar.ejs") -%>

    <!-- Side Bar -->

    <!--Container Main start-->
    <div class="nav-header ">
        <!--- Navbar --->
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid nav-center ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                    aria-controls="nvbCollapse">
                    <i class="bi bi-list"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="nvbCollapse">
                    <ul class="navbar-nav ">
                        <a class="nav-link ml-4" href="#"></i>Home</a>
                        <a class="nav-link ml-4" href="#"></i>Trend</a>
                        <a class="nav-link ml-4" href="#"></i>Best Price</a>
                        <a class="nav-link ml-4" href="#"></i>Offers</a>
                        <a class="nav-link ml-4" href="#"></i>Pages</a>
                        <a class="nav-link ml-4" href="#"></i>Groups</a>
                    </ul>
                </div>
            </div>
        </nav>
        <!--# Navbar #-->
    </div>
    <!--Container Main end-->
    <!-- The Body of the page  -->
    <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-md-4 col-lg-2 col-xlg-2 col-12">
            <div class="imageinfo d-flex justify-content-center">
                <div class="imageicon rounded-circle text-center align-self-center ">
                    <div class="imgcircle"><img src="../Images/3bdo.jpg" alt="ProfileImage" class=" profileImage"></div>
                    <button class="btn py-2 px-4 my-3 border">Edit Profile</button>
                    <p class="h3 profilename"> AbdElrahman Shaban</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 personaldetail">
            <p class="h3 my-3   ">General Information</p>
            <div class="d-flex mt-2">
                <label for="firstName" name="fname" class="form-label col-3">First name</label>
                <input type="text" class="form-control " value="AbdElrahman">
                <i class="bi bi-pencil-square mt-4 editfield"></i>
            </div>
            <div class="d-flex mt-2">
                <label for="lastName" name="fname" class="form-label col-3">Last name</label>
                <input type="text" class="form-control " value="Shaban">
                <i class="bi bi-pencil-square mt-4 editfield"></i>
            </div>
            <div class="d-flex mt-2">
                <label for="Email" name="fname" class="form-label col-3">Email Address</label>
                <input type="email" class="form-control " value="abdelrhaman@gmail.com">
                <i class="bi bi-pencil-square mt-4 editfield"></i>
            </div>
            <div class="d-flex mt-2">
                <label for="passowrd" class="form-label col-3">Password</label>
                <input type="password" class="form-control " value="123456782554">
                <i class="bi bi-pencil-square mt-4 editfield"></i>
            </div>
            <div class="d-flex mt-2">
                <label for="number" class="form-label col-3">Phone Number</label>
                <input type="number" class="form-control " value="0000000000000">
                <i class="bi bi-pencil-square mt-4 editfield"></i>
            </div>
            <a href="#" class="nav-link mt-3">Save Changes</a>
            <hr>
            <div class="d-flex mt-4">
                <label for="firstName" class="form-label col-3 ">Address</label>
                <div class="address">
                    <P class="h5">محافظة البحيرة مركزايتاى البارود منطقة طططططط</P>
                </div>
            </div>
            <div class="d-flex mt-3">
                <label for="firstName" class="form-label col-3">number</label>
                <label for="firstName" class="form-label col-3">01000000000000</label>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-md-4 col-lg-2 col-xlg-2 col-12">
            <div class="imageinfo1 d-flex justify-content-center">
                <div class="imageicon rounded-circle text-center align-self-center ">
                    <p class="h3">NEED HELP ?</p>
                    <p class="h6 profilename">chat with us if you have a question se we can help you</p>
                    <button class="btn btnchat py-2 mt-5 px-5">Chat us</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 payment">
            <p class="h3 my-3">Payment Information</p>
            <a href="#" class="nav-link my-4"> Add a payment method</a>
            <div class="paymentimage d-flex mx-3 border p-4">
                <img src="../Images/mastercard.jpg" alt="cartimage" class="w-25">
                <div class="ml-3">
                    <p class="h2 ml-3 mastertext">Mastercard</p>
                    <p class="h5 ml-3">Debit card ending with 2144</p>
                    <div class="d-flex">
                        <a href="#" class="nav-link text-success">Edit</a>
                        <a href="#" class="nav-link text-danger">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <%- include("footer.ejs") -%>
    <script type='text/Javascript' src="searching.js"></script>
</body>

</html>