    <div class="nav-header ">
                <!--- Navbar --->
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid nav-center ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                            aria-controls="nvbCollapse">
                            <i class="bi bi-list"></i>
                        </button>
                        <div class="d-sm-none btn-group dropstart ">
                            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">Filter</button>
                            <ul class="dropdown-menu">
                            </ul>
                        </div>
                        <div class="collapse navbar-collapse justify-content-center" id="nvbCollapse">
                            <ul class="navbar-nav ">
                                <a class="nav-link ml-4" href="#"></i>Home</a>
                                <a class="nav-link ml-4" href="#"></i>Trend</a>
                                <a class="nav-link ml-4" href="#"></i>Best Price</a>
                                <a class="nav-link ml-4" href="#"></i>Offers</a>
                                <a class="nav-link ml-4" href="#"></i>Pages</a>
                                <a class="nav-link ml-4" href="#"></i>Groups</a>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--# Navbar #-->
            </div>

            <!-- The Body of the page  -->
            <div class="main-body container">
                <div class="detaillocation row">
                    <div class="homeicon col-1">
                        <i class="bi bi-house"></i>
                    </div>
                    <div class="col-10">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Pictures</a></li>
                            <li><a href="#">Summer 15</a></li>
                            <li>Italy</li>
                        </ul>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"
                            data-interval="1000">
                            <div class="MultiCarousel-inner">
                                <h2 class="categoryname">Mobiles</h2>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary leftLst"><i class="bi bi-caret-left-fill"></i></button>
                            <button class="btn btn-primary rightLst"><i class="bi bi-caret-right-fill"></i></button>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"
                            data-interval="1000">
                            <div class="MultiCarousel-inner">
                                <h2 class="categoryname">Mobiles</h2>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="pad15">
                                        <div class="productbox">
                                            <a href="/w3images/lights.jpg" target="_blank"><img src="Images/phone1.jpg"
                                                    alt="Lights" class="homeimage">
                                                <div class="caption"></div>
                                            </a>
                                            <div class="row productboxdetail">
                                                <div class="rating">
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star checked"></span>
                                                    <span class="bi bi-star"></span>
                                                    <span class="bi bi-star"></span>
                                                </div>
                                                <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                                <div class="row btnonhoverproductbox">
                                                    <button class="btn btnAddCart col-4"><i
                                                            class="bi bi-cart-plus onhover"></i></button>
                                                    <button class="btn btnAddCart whitelistbtn col-8">White
                                                        list</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary leftLst"><i class="bi bi-caret-left-fill"></i></button>
                            <button class="btn btn-primary rightLst"><i class="bi bi-caret-right-fill"></i></button>
                        </div>
                    </div>
                </div>

                <div class="pagination d-flex justify-content-center">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a class="active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>

            </div>







            <!-- Thi Is Fooooooooooooter -->
            <footer>
                <!-- <div class="col-2"></div> -->
                <div class="container footerwidth">
                    <div class="row my-5">
                        <div class="col-3">
                            <a class="navbar-brand ms-auto" href="EnterAddress.html"> Mingo</a>
                            <p class="mingo">The fastest way to get your oreder Mingo , The first community for we would
                                love to
                                keep in touch with it </p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <ul class="information">
                                <h5>Information</h5>
                                <li><a href="#" class="nav-item">Privacy Notes</a></li>
                                <li><a href="#" class="nav-item">Terms & Condition</a></li>
                                <li><a href="#" class="nav-item">Delivary Information</a></li>
                                <li><a href="#" class="nav-item">Shapping</a></li>
                                <li><a href="#" class="nav-item">Contact US</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <ul class="quicklinks">
                                <h5>Quick Links</h5>
                                <li><a href="#" class="nav-item">About Store</a></li>
                                <li><a href="#" class="nav-item">About Us</a></li>
                                <li><a href="#" class="nav-item">Services</a></li>
                                <li><a href="#" class="nav-item">Pages</a></li>
                                <li><a href="#" class="nav-item">Blog</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <h4>NewsPaper</h4>
                            <p>Subscribe to get the lastest news updates and offer information ,Don't worry we don't
                                send spams
                            </p>
                            <input type="email" class=" form-control py-4 pl-3 border" placeholder="Enter Email">
                            <div class="social py-3">
                                <a href="www.facebook.com"><i class="bi bi-facebook pl-3"></i></a>
                                <a href="www.facebook.com"><i class="bi bi-youtube pl-3"></i></a>
                                <a href="www.facebook.com"><i class="bi bi-twitter pl-3"></i></a>
                                <a href="www.facebook.com"><i class="bi bi-instagram pl-3"></i></a>
                                <a href="www.facebook.com"><i class="bi bi-telegram pl-3"></i></a>
                                <a href="www.facebook.com"><i class="bi bi-github pl-3"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-2"></div> -->
            </footer>