<%- include("header.ejs") -%>
    <link rel="stylesheet" href="css/MainCssFiles.css">
    <!-- <link rel="stylesheet" href="../CSS files/HomePage.css">    -->
    <link rel="stylesheet" href="css/Searching.css">
</head>

<body id="body-pd">
    <!-- Side bar -->
    <%- include("navigation_bar.ejs") -%>

        <!-- Side Bar -->

        <!--Container Main start-->
        <div class="nav-header ">
            <!--- Navbar --->
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid nav-center ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                        aria-controls="nvbCollapse">
                        <i class="bi bi-list"></i>
                    </button>


                    <div class="d-sm-none btn-group dropstart ">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">Filter</button>
                        <ul class="dropdown-menu">







                        </ul>
                    </div>
                    <div class="collapse navbar-collapse justify-content-center" id="nvbCollapse">
                        <ul class="navbar-nav ">
                            <a class="nav-link ml-4" href="#"></i>Home</a>
                            <a class="nav-link ml-4" href="#"></i>Trend</a>
                            <a class="nav-link ml-4" href="#"></i>Best Price</a>
                            <a class="nav-link ml-4" href="#"></i>Offers</a>
                            <a class="nav-link ml-4" href="#"></i>Pages</a>
                            <a class="nav-link ml-4" href="#"></i>Groups</a>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--# Navbar #-->
        </div>
        <div class="filterbtn  ">
            <button class="btn btn-success">Filter</button>
        </div>
        <!--Container Main end-->
        <!-- The Body of the page  -->
        <div class="row ">

            <div class="col-2"></div>
            <div class="container bodycontainer">
                <div class="bigproductbox ">
                    <div class="row row-cols-1 row-cols-xs-12 row-cols-md-4">
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item  col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item  col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item  col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item  col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item  col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item  col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-2 col-md-3 col-sm-6">
                            <div class="pad15">
                                <div class="productbox">
                                    <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg"
                                            alt="Lights" class="homeimage">
                                        <div class="caption"></div>
                                    </a>
                                    <div class="namedes">
                                        <h6 class="productname">Xiaomi Phone</h6>
                                        <p class="productsmalldes">This is a small desceription for the product</p>
                                    </div>
                                    <div class="row productboxdetail">
                                        <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        </div>
                                        <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                        <div class="row btnonhoverproductbox">
                                            <button class="btn btnAddCart col-4"><i
                                                    class="bi bi-cart-plus onhover"></i></button>
                                            <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                        <div class="pagination d-flex justify-content-center">
                            <a href="#">&laquo;</a>
                            <a href="#">1</a>
                            <a class="active" href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">&raquo;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 ">
                <div class="bycategory">
                    <h5>Filter by Category</h5>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">Men's Fastion</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Women's Fasion</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Kids Fasiom</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Toys</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Books</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Phones & Tablet</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Laptops</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Home Furnitures</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Kitchen Tools</a></li>
                    </ul>
                </div>
                <hr>
                <div class="byprice">
                    <h5>Filter by Price</h5>
                    <form class="range">
                        <div class="form-group range__slider">
                            <input type="range" step="500">
                        </div>
                        <div class="form-group range__value">
                            <label>Loan Amount</label>
                            <span></span>
                        </div>
                    </form>
                    <form action="" class="row ml-1">
                        <input type="number" placeholder="Min" class="form-control col-5 mr-2 border">
                        <input type="number" placeholder="Max" class="form-control col-5 mr-2 border">
                    </form>
                </div>
                <hr>
                <div class="bycolor">
                    <h5>Choose Color</h5>
                    <div class="row">
                        <div class="col-1">
                            <div class="colorsdiv bg-info"></div>
                        </div>
                        <div class="col-1">
                            <div class="colorsdiv bg-success"></div>
                        </div>
                        <div class="col-1">
                            <div class="colorsdiv bg-danger"></div>
                        </div>
                        <div class="col-1">
                            <div class="colorsdiv bg-warning"></div>
                        </div>
                        <div class="col-1">
                            <div class="colorsdiv bg-primary"></div>
                        </div>
                        <div class="col-1">
                            <div class="colorsdiv bg-secondary"></div>
                        </div>
                        <div class="col-1">
                            <div class="colorsdiv bg-warning"></div>
                        </div>
                        <div class="col-1">
                            <div class="colorsdiv bg-primary"></div>
                        </div>
                        <div class="col-1">
                            <div class="colorsdiv bg-secondary"></div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

















            <%- include("footer.ejs") -%>
            <script type='text/Javascript' src="searching.js"></script>
</body>

</html>