<%- include("header.ejs") -%>
    <link rel="stylesheet" href="css/MainCssFiles.css">
    <link rel="stylesheet" href="css/ProductPage.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- <link rel="stylesheet" href="../CSS files/HomePage.css">    -->
    <!-- <link rel="stylesheet" href="../CSS files/Searching.css"> -->
</head>

<body id="body-pd">
    <!-- Side bar -->
    <%- include("navigation_bar.ejs") -%>

    <!-- Side Bar -->

    <!--Container Main start-->
    <div class="nav-header ">
        <!--- Navbar --->
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid nav-center ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                    aria-controls="nvbCollapse">
                    <i class="bi bi-list"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="nvbCollapse">
                    <ul class="navbar-nav ">
                        <a class="nav-link ml-4" href="#"></i>Home</a>
                        <a class="nav-link ml-4" href="#"></i>Trend</a>
                        <a class="nav-link ml-4" href="#"></i>Best Price</a>
                        <a class="nav-link ml-4" href="#"></i>Offers</a>
                        <a class="nav-link ml-4" href="#"></i>Pages</a>
                        <a class="nav-link ml-4" href="#"></i>Groups</a>
                    </ul>
                </div>
            </div>
        </nav>
        <!--# Navbar #-->
    </div>
    <!--Container Main end-->
    <!-- The Body of the page  -->
    <div class="container mt-3">
        <div class="py-5">
            <div class="col col-lg-8 border py-5 ">
                <p class="h3 text-muted">Sign up a as Seller</p>
                <p>Start selling your your products on website</p>
                <form>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" name="fname" required class="form-label">First name</label>
                            <input type="text" class="form-control border" id="firstName" required autocomplete="off">
                        </div>
                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control border" id="lastName" required>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                            <input type="email" class="form-control border" id="email" placeholder="you@example.com"
                                required>
                        </div>
                        <div class="col-12">
                            <label for="password" class="form-label">passowrd <span class="text-muted"></span></label>
                            <input type="password" class="form-control border" id="password" placeholder="password"
                                required>
                        </div>
                        <div class="col-12">
                            <label for="password" class="form-label">Re-Enter Password <span
                                    class="text-muted"></span></label>
                            <input type="password" class="form-control border" id="password" placeholder="password"
                                required>
                        </div>
                        <div class="col-12">
                            <label for="phonenumber" class="form-label">Phone Number <span
                                    class="text-muted"></span></label>
                            <input type="number" class="form-control border" id="email" placeholder="number" required>
                        </div>
                    </div>
                    <hr class="my-4">
                    <h4 class="mb-3 paymentinformation">Payment</h4>
                    <p class="h5">Add a your payment method to recieve oyur income</p>
                    <div class="my-3 paymentinformation">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked
                                required>
                            <label class="form-check-label" for="credit">Credit card</label>
                        </div>
                        <div class="form-check">
                            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="debit">Debit card</label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="paypal">PayPal</label>
                        </div>
                    </div>
                    <div class="row gy-3 paymentinformation">
                        <div class="col-md-6">
                            <label for="cc-name" class="form-label">Name on card</label>
                            <input type="text" class="form-control border" id="cc-name" placeholder="" required>
                            <small class="text-muted">Full name as displayed on card</small>
                        </div>
                        <div class="col-md-6">
                            <label for="cc-number" class="form-label">Credit card number</label>
                            <input type="text" class="form-control border" id="cc-number" placeholder="" required>
                        </div>
                        <div class="col-md-3">
                            <label for="cc-expiration" class="form-label">Expiration</label>
                            <input type="text" class="form-control border" id="cc-expiration" placeholder="" required>
                        </div>
                        <div class="col-md-3">
                            <label for="cc-cvv" class="form-label">CVV</label>
                            <input type="text" class="form-control border" id="cc-cvv" placeholder="" required>
                        </div>
                    </div>
                    <hr class="my-4">
                    <button class="w-100 btn btn-success btn-lg" type="submit">Sign Up As Seller</button>
                </form>
            </div>
        </div>
    </div>



    <%- include("footer.ejs") -%>
    <script type='text/Javascript' src="searching.js"></script>
</body>

</html>