<%- include("header.ejs") -%>
    <link rel="stylesheet" href="css/MainCssFiles.css">
    <link rel="stylesheet" href="css/ProductPage.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="css/personalProfile.css">
    <!-- <link rel="stylesheet" href="../CSS files/HomePage.css">    -->
    <!-- <link rel="stylesheet" href="../CSS files/Searching.css"> -->
</head>

<body id="body-pd">
    <!-- Side bar -->
    <%- include("navigation_bar.ejs") -%>
    <h1>statics Page</h1>
    
    
    <%- include("footer.ejs") -%>
    <script type='text/Javascript' src="searching.js"></script>
</body>

</html>
