<%- include("header.ejs") -%>
    <link rel="stylesheet" href="css/MainCssFiles.css">
    <!-- <link rel="stylesheet" href="../CSS files/HomePage.css">    -->
    <!-- <link rel="stylesheet" href="../CSS files/Searching.css"> -->
</head>

<body id="body-pd">
    <!-- Side bar -->
    <%- include("navigation_bar.ejs") -%>

    <!-- Side Bar -->

    <!--Container Main start-->
    <div class="nav-header ">
        <!--- Navbar --->
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid nav-center ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                    aria-controls="nvbCollapse">
                    <i class="bi bi-list"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="nvbCollapse">
                    <ul class="navbar-nav ">
                        <a class="nav-link ml-4" href="#"></i>Home</a>
                        <a class="nav-link ml-4" href="#"></i>Trend</a>
                        <a class="nav-link ml-4" href="#"></i>Best Price</a>
                        <a class="nav-link ml-4" href="#"></i>Offers</a>
                        <a class="nav-link ml-4" href="#"></i>Pages</a>
                        <a class="nav-link ml-4" href="#"></i>Groups</a>
                    </ul>
                </div>
            </div>
        </nav>
        <!--# Navbar #-->
    </div>
    <div class="filterbtn  ">
        <button class="btn btn-success">Filter</button>
    </div>
    <!--Container Main end-->
    <!-- The Body of the page  -->





    <%- include("footer.ejs") -%>
    <script type='text/Javascript' src="searching.js"></script>
</body>

</html>