body{
    margin: 0;
    padding: 0;
}
.product_image{
    width: 100px;
}
.wrapper .top_navbar{
    display: flex;
    width: calc(100% - 10px);
    height: 60px;
    position: fixed;
    top: 0;
    margin-left: 5px;
    padding: 5px 5px 0 0;
    z-index: 10;
    background-color: aliceblue;
}
.wrapper .top_navbar .hamburger{
    min-width: 50px;
    height: 100%;
    background-color: #679b18;
    padding: 10px;
    border-top-left-radius: 20px;
    cursor: pointer;
}
.wrapper .top_navbar .hamburger:hover{
    background-color: #548110;
}
.wrapper .top_navbar .hamburger div{
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}
.wrapper .top_navbar .top_menu{
    display: flex;
    min-width: calc(100% - 60px);
    justify-content: space-around;
    padding: 5px 20px;
}
.wrapper .top_navbar .top_menu .dropdown_menu{
    display: flex;
    align-items: center;
}

.wrapper .side_bar{
    position: fixed;
    width:fit-content;
    height: 100%;
    top: 60px;
    margin-left: 5px;
    border-radius: none;
    transition: all .5s ease;
}
.sidenav{
    background-color: aliceblue;
}

.wrapper .main_container{
    margin: 60px 0 0 305px;
    padding-top: 10px;
    padding-left: 10px;
    width: calc(100% - 310px);
    transition: all .7s ease;
}
.wrapper.shrink .side_bar{
    opacity: 0;
    margin-left: -305px;
}
.wrapper.shrink .main_container{
    margin: 60px 0 0 5px;
    width: calc(100% - 5px);
}