.navigationbar  ul li{
    text-align: center;
    margin: 3% 3% ;
    color: #fff;
}

.phonecat{
    max-width: 20px;
}
.homeimage{
    width: 100%;
}

/* .main-body{
}
@media (min-width: 1200px) {
    .container{
        max-width: 1600px;
    }
} */

.MultiCarousel { 
    float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { 
    float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center; padding:10px; margin:10px; color:#666;height: 270px;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
    position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
.MultiCarousel .leftLst i{ font-size: 10px;padding-top: 5px;margin-bottom: 10px;}
.MultiCarousel .rightLst i{ right:0; } 
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
    pointer-events: none; background:#ccc; }
.MultiCarousel h2{
    font-weight: bold;
    padding-left: 10px;
}

.detaillocation{
    height: 50px;
    background-color:#FBFBFB;
    margin: 30px 0 0 30px;
    /* width: 93%; */
}
.homeicon{
    font-size: 25px;
    /* margin-left: 10px; */
}
ul.breadcrumb {
    padding: 12px 30px;
    list-style: none;
    background-color: #FBFBFB;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
.cartproduct{
    background-color:#FBFBFB;
}
.childCategory{
    margin:20px;
    
    padding:20px 0 20px 0;
    background-color: #FBFBFB;

}
.checked{
    color: orange;
}
.btnonhoverproductbox{
    width: 100%;
    margin: -3px 2px;
}
.btnAddCart{
    border: 2px solid orange;
    /* padding-right:30%;  */
}
.btnAddCart:hover{
    background-color: orange;
}
.childCategory .categoryname{
    width: 100%;
    font-weight: bold;
}
.whitelistbtn{
    float: right;
}
.productbox{
    height: 100%;
    padding: 20px 20px 40px 20px;
    margin: -10px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 1px solid #777; */
    height: 90%;
    background-color: #fff;
}

.productbox:hover{
    transform: scale(1.2);
    transition: .2s;
}
.productboxdetail{
    margin-top: 18px;
}
@media screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    .productbox a img{
        width: 120px;
    }
    .footerwidth p{
        /* height: 50px; */
    }
    .footerwidth ul{
        margin-left: -50px;
    }
  }

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
/* .onhover */