
/* body{
    overflow-x: hidden;
}  */
.bodycontainer{
    padding-top: 30px;
}
.navigationbar  ul li{
    text-align: center;
    margin: 3% 3% ;
    color: #fff;
}

.phonecat{
    max-width: 20px;
}
.homeimage{
    width: 100%;
}

.pad15{
    margin-bottom: 5px;
}
.detaillocation{
    height: 50px;
    background-color:#FBFBFB;
    margin: 30px 0 0 30px;
    /* width: 93%; */
}
.homeicon{
    font-size: 25px;

}
ul.breadcrumb {
    padding: 12px 30px;
    list-style: none;
    background-color: #FBFBFB;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
.checked{
    color: orange;
}
.btnonhoverproductbox{
    width: 100%;
    margin: -3px 2px;
}
.btnAddCart{
    border: 2px solid orange;
    
}
.btnAddCart:hover{
    background-color: orange;
}

.productbox{
    padding: 20px 20px 40px 20px;
    margin: -7px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

.productbox:hover{
    transform: scale(1.1);
    transition: .2s;
}
.productbox a img{
    width: 100%;
}
.productsmalldes,.productname{
    margin-left: -10px;
    
}
.productsmalldes{
    height: 36px;
    overflow: hidden;
}
.productboxdetail{
    margin-bottom: -30px;
}
@media screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    .productbox a img{
        width: 120px;
    }
    .footerwidth ul{
        margin-left: -50px;
    }
  }

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}


  .well{
      float: left;
      
  }

  .centerdiv{
      width: 750px;
      
  }
.bycategory .nav-link{
    margin-bottom: -5px;
}
.range__slider {
  width: 50%;
}



.form-group {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}



.form-group span {
  font-size: 2rem;
  font-weight: 600;
  color: #3c3b3b;
}

.colorsdiv{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    overflow: hidden;
}
.footerwidth{
    margin-left: 30%;
    display: inline-flex;
}
.filterbtn{
    margin-left:90% ;
    padding-bottom: -35px;
}
@media screen and (max-width: 600px) {
    .container{
        margin-top: 20px;
    }
    .productbox a img{
        width: 120px;
        display: inline-flex;
        float: left;
    }
    .namedes{
        /* margin-top: 10px; */
        padding-top: 10px;
    }
    /* .productsmalldes,.productname{
        margin-top: -10px;
        
    } */
    .productbox{
        padding: 0 20px 40px 20px;
        margin-top: -20px;
        height: 160px;
        border-radius: 7px;
        box-shadow: 0 4px 8px 0 rgba(177, 176, 176, 0.2), 0 6px 20px 0 rgba(245, 243, 243, 0.19);
    }
    .productbox:hover{
        transform: none;
    }
    .footerwidth{
        margin-left: 0;
    }
}